extends layout

block content
  h1= title
  p Welcome to #{title}

  div(id='loginDiv')
    input(id='nameInput')
    button(type='button' onclick='login()' id='loginBtn') login
  div(id='readyDiv', hidden='hidden')
    pane(id='readyInfo')
    button(type='button' onclick='ready()' id='readyBtn') ready
  div
    table(id='status')
      tr
        th id
        th name
        th ready
    p(id='online1') CONNECTED: --
  div
    p(id='word') WORD: -- TIP: --
    table(id='chatTable')
    input(id='guessInput' placeholder='input...' disabled='disabled')
    button(type='button' onclick='guess()' id='guessBtn' disabled='disabled') send
  div
    p(id='countDown') COUNTDOWN: --





  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/whiteboard.js')
