*{
    margin: 0;
    padding: 0;
}
html{
    /*overflow-y: hidden;*/
    background: #c3b3a3;
    color: #897561;
}


.login-container {
    position: absolute;
    background: url("../imgs/login-background.jpg") no-repeat;
    background-size: cover;
    width: 1400px;
    height: 960px;
    overflow: hidden;
}
.login-container input[type='text']:focus{
    box-shadow: none;
    border: none;
    outline: none;
    border-bottom: 2px solid #c3b3a3;
}
::-webkit-input-placeholder{
    color: #c3b3a3;
}
:-moz-placeholder{
    color: #c3b3a3;
}
:-ms-input-placeholder {
    color: #c3b3a3;
}
.login-container input {
    width: 30%;
    height: 50px;
    margin-left: 600px;
    margin-top: 400px;
    font-size: 16px;
    color: #d5c3b5;
    text-align: center;
    background: none;
    border: none;
    border-bottom: 2px solid #c3b3a3;
}

.start-container {
    width: 1400px;
    height: 960px;
    position: absolute;
    background: rgba(0,0,0,.5);
    display: none;
}
#count-time {
    color: red;
    text-align: center;
    margin: 300px 40%;
}

.container {
    width: 1200px;
    margin: 10px auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, .4);
    border-radius: 20px;
    background: #fcfbf6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* 分数提示 */
.score {
    width: 100%;
    height: 60px;
    box-shadow: 0 0 15px rgba(195, 179, 163, .4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.score > div {
    width: 85%;
    padding: 7px;
    display: flex;
    align-items: center;
}

.score div img {
    width: 5%;
    border-radius: 100%;
    box-shadow: 2px 0 2px rgba(195, 179, 163, .4);
}

.score div p {
    margin-left: 10px;
}

.score button {
    width: 10%;
    padding: 10px;
    margin-right: 5px;
    border: 2px solid rgba(195, 179, 163, 1);
    box-shadow: none;
    background: none;
}


/* end */
/* 房间状态 */
.player {
    width: 20%;
    height: 490px;
}

.members {
    width: 100%;
    height: 400px;
    padding-left: 40px;
    overflow: hidden;
}


.members ul {
    list-style: none;
    margin-top: 71px;
}
.number {
    width: 100%;
    height: 90px;
    padding: 30px;
}

/* end */
/* 画板 */
.board {
    width: 60%;
    height: 490px;
}
.header {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header div:first-child {
    width: 80%;
    text-align: center;
}
.header div:last-child {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 2px solid rgba(195, 179, 163, .6);
    text-align: center;
    line-height: 80px;
    color: #ff0000;
}
#canvas-container {
    width: 100%;
    height: 347px;
    border: 4px solid #c3b3a3;
}
.footer {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer label {
    font-size: 14px;
    margin-left: 30px;
}
.color-picker {
    border: none;
    box-shadow: none;
    background: none;
}
.color-picker:hover {
    cursor: pointer;
}

/* end */
/* 答题区 */
.answer {
    width: 20%;
    height: 490px;
}
.tips {
    width: 100%;
    height: 400px;
    padding-left: 40px;
    overflow: hidden;
}
#tips {
    margin-top: 70px;
    list-style: none;
    font-size: 14px;
}
.writes {
    width: 100%;
    height: 90px;
    padding: 30px 20px;
}
.writes input {
    float: left;
    padding: 6px 2px 6px 2px;
}
.writes input[type="button"] {
    background: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, .4);
    border-left: none;
}
/* end */